<?xml version="1.0"?>

<model>
  <name>Box</name>
  <version>1.0</version>
  <sdf version="1.6">Obstacle.sdf</sdf>

  <author>
    <name>Naoki Shirakura</name>
    <email>shirakura.naoki.se8@is.naist.jp</email>
  </author>

  <maintainer email="shirakura.naoki.se8@is.naist.jp">Naoki Shirakura</maintainer>

  <description>
    Floating object
  </description>
</model>
